<div>
    <h2>Autores de la prácticas: </h3>

    <img scr="/images/author.jpg" />
    <p>Jesús Botias Rubio</p>
    <img scr="/images/author.jpg" border=2 vspace=7 hspace=7 alt="Foto del Autor del Proyecto" />

</div>
