<div>
    <h2>Autores de la prácticas: </h3>
    <img src="/images/author.jpg" height="42" width="42" border=2 vspace=7 hspace=7 alt="Foto del Autor del Proyecto" />
    <p>Jesús Botias Rubio</p>
</div>
